<?xml version="1.0" encoding="utf-8"?>
<configs>
  <keyandvalue key="C:\Users\Компьютер\Документы\Fitness-center\lr_03-model-refinement-ocl\fitness.modlr-BorPredServer"></keyandvalue>
  <keyandvalue key="C:\Users\Компьютер\Документы\Fitness-center\lr_03-model-refinement-ocl\fitness.modlr-ShownModel">b240fb13-5af2-4e10-a261-bda69a8cc3d1</keyandvalue>
  <keyandvalue key="C:\Users\Компьютер\Документы\Fitness-center\lr_03-model-refinement-ocl\fitness.modlr-ExpressionForPrototypeStart"></keyandvalue>
  <keyandvalue key="C:\Users\Компьютер\Документы\Fitness-center\lr_03-model-refinement-ocl\fitness.modlr-RunningModel_TargetGroup"></keyandvalue>
  <keyandvalue key="C:\Users\Компьютер\Документы\Fitness-center\lr_03-model-refinement-ocl\fitness.modlr-RunningModelPersistence"></keyandvalue>
  <keyandvalue key="C:\Users\Компьютер\Документы\Fitness-center\lr_03-model-refinement-ocl\fitness.modlr-RunningModel_Connstr"></keyandvalue>
  <keyandvalue key="C:\Users\Компьютер\Документы\Fitness-center\lr_03-model-refinement-ocl\fitness.modlr-RunningModel_ConnstrSQLite"></keyandvalue>
  <keyandvalue key="C:\Users\Компьютер\Документы\Fitness-center\lr_03-model-refinement-ocl\fitness.modlr-RunningModel_ConnstrSQLCompact"></keyandvalue>
  <keyandvalue key="C:\Users\Компьютер\Документы\Fitness-center\lr_03-model-refinement-ocl\fitness.modlr-RunningModel_ConnstrVistaDB"></keyandvalue>
  <keyandvalue key="C:\Users\Компьютер\Документы\Fitness-center\lr_03-model-refinement-ocl\fitness.modlr-RunningModel_MultiTenantPrefix"></keyandvalue>
  <keyandvalue key="C:\Users\Компьютер\Документы\Fitness-center\lr_03-model-refinement-ocl\fitness.modlr-RunningModel_PersistenceSetting">Transient</keyandvalue>
  <keyandvalue key="C:\Users\Компьютер\Документы\Fitness-center\lr_03-model-refinement-ocl\fitness.modlr-SQLPersistenceMapping">mdrivenserver</keyandvalue>
  <keyandvalue key="C:\Users\Компьютер\Документы\Fitness-center\lr_03-model-refinement-ocl\fitness.modlr-SQLUseVersion"></keyandvalue>
  <keyandvalue key="C:\Users\Компьютер\Документы\Fitness-center\lr_03-model-refinement-ocl\fitness.modlr-LocalTurnkeyFileRoot"></keyandvalue>
  <keyandvalue key="C:\Users\Компьютер\Документы\Fitness-center\lr_03-model-refinement-ocl\fitness.modlr-LocalTurnkeyUrl"></keyandvalue>
  <keyandvalue key="C:\Users\Компьютер\Документы\Fitness-center\lr_03-model-refinement-ocl\fitness.modlr-LocalTurnkeyPort"></keyandvalue>
  <keyandvalue key="C:\Users\Компьютер\Документы\Fitness-center\lr_03-model-refinement-ocl\fitness.modlr-CopyAssetsTKOnStart"></keyandvalue>
  <keyandvalue key="C:\Users\Компьютер\Документы\Fitness-center\lr_03-model-refinement-ocl\fitness.modlr-LabelOnTop"></keyandvalue>
  <keyandvalue key="C:\Users\Компьютер\Документы\Fitness-center\lr_03-model-refinement-ocl\fitness.modlr-ViewModelScreenSizeX">1920</keyandvalue>
  <keyandvalue key="C:\Users\Компьютер\Документы\Fitness-center\lr_03-model-refinement-ocl\fitness.modlr-ViewModelScreenSizeY">1080</keyandvalue>
  <keyandvalue key="C:\Users\Компьютер\Документы\Fitness-center\lr_03-model-refinement-ocl\fitness.modlr-SelectedViewModelInEditor"></keyandvalue>
  <keyandvalue key="C:\Users\Компьютер\Документы\Fitness-center\lr_03-model-refinement-ocl\fitness.modlr-DebuggerOcl">ocl: Клубная_карта.allInstances-&gt;collect(k | k.Номер + ': ' + k.Операция-&gt;select(o | o.Тип_операции = 'Пополнение').Сумма-&gt;sum.asString)

</keyandvalue>
  <keyandvalue key="C:\Users\Компьютер\Документы\Fitness-center\lr_03-model-refinement-ocl\fitness.modlr-DebuggerVars"></keyandvalue>
</configs>